body {
    background-color: lightblue;
}
h1 {
    color: black;
}
h2 {
    color: black;
    text-align: center;
}
h3 {
    text-align: left;
}
h4 {
    font-size: 28px;
}
h5 {
color: black;
    line-height: 1.25 ;
    font-family: "Times New Roman";
    font-size: 16px;
}
    p {
    color: black;
    text-indent:50px;
    line-height: 2 ;
    font-family: "Times New Roman";
    font-size: 16px;
    }
    .header {
	line-height: 1;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
}
